/* HERO - BANNER */
#home {
    min-height: 100vh;
    width: 100%;
}

#home #hero {
    margin-top: 10vh;
    height: 85vh;
    width: 100%;

    padding: 0 7rem;

    background-image: url('../../public/images/home-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(30%) opacity(0.8); */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    z-index: -2;
    position: relative;
}

@media screen and (max-width: 1024px) {
    #home #hero {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 920px) {
    #home #hero {
        padding: 0 1rem;
    }
}

#home #hero .overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(to top right, var(--theme-dark), rgb(117, 109, 27, 0.8), transparent, transparent);
}

#home #hero h1,
#home #hero h5 {
    color: var(--white);
}

#home #hero h1 {
    /* font-size: 3rem; */
    font-weight: 600;
}

#home #hero h5 {
    /* font-size: 1rem; */
    letter-spacing: 0.1rem;
}

#home #hero button {
    border: 1px solid var(--white);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: var(--white);

    margin: 1rem 0;
}

/* PRODUCTS - HOME */
#home #products {
    padding: 6rem 7rem 3rem;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #home #products {
        padding: 6rem 4rem 3rem;
    }
}

@media screen and (max-width: 920px) {
    #home #products {
        padding: 6rem 1rem 3rem;
    }
}

#home #products h3 {
    font-weight: 700;
}

#home #products .cards {
    margin: 3rem 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
    row-gap: 1.5rem;
}
@media (min-width: 400px) {
    #home #products .cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1240px) {
    #home #products .cards {
        grid-template-columns: repeat(4, 1fr); 
    }
}

#home #products .browse-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home #products .browse-product-btn {
    text-align: center;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1rem;

    background-color: var(--theme-dark);
    color: var(--white);

    width: fit-content;
    justify-content: center;

    padding: 0.5rem 1rem;

    border-radius: 0.5rem;

    white-space: nowrap;
}

#home #products .browse-product-btn img {
    width: 1rem;
    aspect-ratio: 1;

    /* padding: 0.5rem 1rem; */
}