#product-card {
    background-color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    width: 250px;
    height: 300px;

    padding: 1rem 0;

    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(142, 142, 142, 0.045),
        -0.1rem -0.1rem 0.1rem 0.1rem rgba(142, 142, 142, 0.045);
}

@media screen and (max-width: 820px) {
    #product-card {
        width: 45%;
    }
}

@media screen and (max-width: 560px) {
    #product-card {
        width: 100%;
    }
}

#product-card img {
    height: 55%;
    aspect-ratio: initial;
}

#product-card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#product-card h3
{
    font-size: 0.8rem;
    font-weight: 400 !important;
}

#product-card .card-title {
    font-style: italic;
}

#product-card .card-description {
    font-weight: 600 !important;
}

#product-card .card-price {
    font-size: 1.3rem;
    font-weight: 600;

    color: var(--theme-dark);
}

#product-card .add-to-cart {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    font-size: 0.9rem;

    border: 1px solid var(--theme-dark);
    width: fit-content;

    padding: 0.3rem 1rem;

    border-radius: 0.3rem;
    color: var(--theme-dark);
}

#product-card .add-to-cart img {
    width: 1rem;
    aspect-ratio: 1;
}